* {
    font-family: 'Scheherazade New', serif;
}

.bottomBarButton {
    font-weight: 900;
    border: none;
    border-radius: 16px;
}

@media (min-aspect-ratio: 1/1) {
    .bottomBarButton {
        width: 330px;
        height: 64px;
    }
}

@media (max-aspect-ratio: 1/1) {
    .bottomBarButton {
        width: 183px;
        height: 45px;
    }
}

.copyLink {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    background: #007EA8;
    color: #FFFFFF;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CEEAF7;
    color: #000000;
}

.correct {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12A72A;
    color: #FFFFFF;
    margin: 10px;
}

.skip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B9371B;
    color: #FFFFFF;
    margin: 10px;
}

.buttonsHolder {
    display: flex;
    flex-direction: row;
}

.bottomBarAfterStartHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}