.playerHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 25px;
}

@media (min-aspect-ratio: 1/1) {
    .circlesWrapper {
        width: 70px;
        height: 70px;
    }
}

@media (max-aspect-ratio: 1/1) {
    .circlesWrapper {
        width: 30px;
        height: 30px;
    }
}

.circlesWrapper {
    position: relative;
}

.circles {
    position: absolute;
}

.playerName {
    margin: 10px;
    font-weight: bold;
    color: #FFFFFF;
}