.roomHolder {
    display: flex;
    flex-direction: row;
}

.tableAndBarHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}