.roomHolder {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .roomHolder {
        flex-direction: column;
    }
}

.tableAndBarHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}