* {
    font-family: 'Scheherazade New', serif;
}

.statisticsHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

@media (min-aspect-ratio: 1/1) {
    .dataHolder {
        width: 80px;
    }
}

@media (max-aspect-ratio: 1/1) {
    .dataHolder {
        width: 60px;
    }
}

.dataHolder {
    background: #364451;
    border-radius: 20px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px;
    justify-content: center;
}

.scoreHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-weight: 900;
    color: #FFFFFF;
}

.timeHolder p {
    margin-right: 20px;
}

.timeHolder {
    direction: rtl;
}